<!DOCTYPE html>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TraqNote</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">


                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Register", "Registration", "Account")<br />
                    @Html.ActionLink("Reset Password", "ForgotPassword")
}
                else
                {
                    @Html.ActionLink("Home", "Index", "Home")
                }

                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    var identity = HttpContext.Current.User.Identity.Name;
                    @Html.Label(string.Format("Welcome {0}!", identity))
                    <span style="width: 10px"></span>
                    @Html.ActionLink("Logout", "LogOff", "Account")
                }

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TraqNote</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
